torch
safetensors
bitsandbytes==0.41.0
scipy
wandb
transformers==4.44.2
tqdm
packaging
pytest
numpy
pyyaml
datasets
psutil
setuptools
evaluate
matplotlib
peft
scikit-learn
evaluate
rouge_score
accelerate==1.1.0
huggingface-hub==0.28.1